body {
  background-image: url("../images/back.jpeg");
  font-size: 1.2em;
  font-family:sans-serif;
}

#title {
  text-align: center;
  border-color: white;
	/* gugus */
  color: black;
  border-style: solid;
  border-width: 0.5px;
  background-color:#ccdcff;
  margin-left: 13%;
}

#info {
  background-color:white;
  text-align: center;
  margin-left: 13%;
}


fieldset {
  background-color: white;
  opacity: 1;
  padding-bottom: 4.2%;
  margin-left: 13%;
}

#links {
  float: left;
  background-color:#99ccff;
  margin-top: 1.04%;
  margin-right: 1%;
  width: 180px;
  max-width: 180px;
}

#links li {
  list-style-type: none;

}


a{
    text-decoration: none;
  }
  a:hover {
    color: white;
    text-decoration: none;
  }
  a:active {
    color: green;
  }
  a:visited {
    color:#e6005c;
  }

h4 {
  color: white;
  margin-left: 15%;
}

#blog h4 {
  color:black;
  text-align: left;
  margin-left: 0%;
}

textarea {
  resize: none;
  font-family: sans-serif;
  height: 200px;
  width: 40%;
}

label {
  display:inline-block;
  width: 150px;
}

.logo img {
  display: inline-block;
  float:left;
  height: 69px;
  max-height: 75px;
  width:12.1%;
  max-width: 14%;
  margin-right: 20%;
  margin-top: 0.03%;
  opacity: 0.9;
}

#blog {
  margin-left: 7%;
}

.errors li {
    color: red;
    margin-bottom:10px;
}

.errors {
    border-style: solid;
    border-color: red;
    border-width: 1px;
    border-radius: 5px;
    background-color: pink;
    padding-top: 10px;
    margin-top: 10px;
    margin-right: 61.6%;
    margin-left: 7%;
}

.errors2 li {
    color:  #009933;
    margin-bottom:10px;
}

.errors2 {
    border-style: solid;
    border-color: green;
    border-width: 1px;
    border-radius: 5px;
    background-color:#e6ffee ;
    padding-top: 10px;
    margin-top: 10px;
    margin-right: 64.6%;
    margin-left: 7%;
}

nav {
  float: left;
  margin-top: 20%;
}

fieldset .picture {
  position:absolute;
  margin-left: 36%;
  margin-top: 2%;
}

footer {
  margin-top: 0.5%;
  margin-left: 13%;
  border-color: white;
  color: black;
  border-style: solid;
  border-width: 0.5px;
  background-color:white;
}

footer #footer1 {
  text-align: left;
  margin-left: 0.4%;
  display: inline-block;
  margin-top: auto;
}

footer #footer2 {
  text-align: right;
  margin-left: 82%;
  display: inline-block;
  margin-bottom: auto;
}

.btn-primary {
  background-color: #ccdcff;
  height: 30px;
  width: 80px;
}

.btn-primary:hover {
  background-image: url("../images/button.gif");
}
